{% extends "network/layout.html" %}
{% load static %}




{% block body %}
    
<!-- this will create a centered responsive column. the column is 6/12 wide and goes full width at large breakpoint -->
<div class="row justify-content-center">
    <div class="col col-lg-6">

        <!-- TODO: add "if user is logged in condition" -->
        <!-- submit a new post -->
        <div class='newpost_form' >
            
            <textarea id="newpost_text" class='newpost_text' placeholder="think here... think hard"></textarea>
            <button id="newpost_share" class="btn btn-primary">Share</button>
      
        </div>
        <!-- TODO: close "if user is logged in condition" -->
    
        <div>
            TODO: SHOW ALL POSTS HERE:
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}