{% extends "network/layout.html" %}
{% load static %}




{% block body %}
    
    {% comment "" %}USER PROFILE INFO WILL BE DISPLAYED HERE{% endcomment %}
    <h1>{{profile_user.username}}'s profile</h1>

    <span><h4>Followers: {{profile_user.followers.count}}</h4></span> 
    <span><h4>Following: {{profile_user.following.count}}</h4></span>


    {% if user.is_authenticated and currently_following == True %}    
        <button class="btn btn-primary" id="follow-unfollow">Unfollow</button>  
    {% elif user.is_authenticated and currently_following == False %}
        <button class="btn btn-primary" id="follow-unfollow">Follow</button>
    {%endif%}        
        
    <HR></HR>
        <div id= "post_container">
            <input type="hidden" id="page" value = {{profile_user.id}}>
        </div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}