
body {
    background-color: #f1f1f1;
}

.row {
 
}

.col {
 background-color: #dadada;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.newpost_form_container {
    padding: 10px;
}

.newpost_text {
    width: 100%;
    height: 10%;
}


.post_div{
    background-color: rgb(236, 236, 236);
    margin-bottom: 10px;
}
