

.row {
    background-color: aqua;
}

.col {
 background-color: beige;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.newpost_form {
    padding: 10px;
}

.newpost_text {
    width: 100%;
    height: 10%;
}

