* {
  box-sizing: border-box;
}

.pagestyle{
  width : auto;
  margin: 0 auto;
}

#navbar {
  background-color: #1b304e !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

body {
  background-color: #f1f1f1;
}

.main{
  padding: 20px;

}

.content{
  margin-bottom: 20px;
}

.form-text {
  display: block;
}

.post-div {
  background-color: rgb(206, 214, 223);
}



/* flex boxes */
.main-container{
  display: flex;
  justify-content: start;
  align-content: ;
  gap: 15px;
  flex-wrap: wrap;
}

.display{
  background-color: rgb(181, 203, 222);
  padding : 15px;
  flex: 15 1 300px;
}

.create{
  padding: 20px;
  background-color: #173b55;
  align-self: stretch;
  flex: 1 1 300px;
  order: -1
}

.create > div > h3 {
  color: white;
}

#post-container{
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}

.post-div{
  margin: 2px 0px;
  padding: 8px;
  flex: 0 1 290px
}

button {
  margin: 5px 0px ;
}
